<header class="navbar">
  <nav class="nav-container">
    <div class="nav-brand">
      <a href="/CurlSwiggerLabs" class="brand-link">
        <img src={`${import.meta.env.BASE_URL}/echoes.png`} alt="CurlSwiggerLabs" class="brand-icon" />
        <span>CurlSwiggerLabs</span>
      </a>
    </div>
    <ul>
      <li>
        <a href="/CurlSwiggerLabs">
          Home
        </a>
      </li>
    </ul>
  </nav>
</header>
